---
import { z } from "astro/zod";
import { ClientRouter } from "astro:transitions";
import { App } from "../components/App";
import "../styles/global.css";

export const prerender = false;

const { slug } = Astro.params;
const packages = slug ? slug.split("+") : [];

const PackageData = z.object({
  data: z.array(
    z.object({
      category: z.string(),
      date: z.string(),
      downloads: z.number(),
    }),
  ),
  package: z.string(),
  type: z.string(),
});

async function getPackageData(package_: string) {
  try {
    const response = await fetch(
      `https://pypistats.org/api/packages/${package_}/overall?mirrors=false`,
    );
    const data = await response.json();
    return PackageData.parse(data);
  } catch (_) {
    return null;
  }
}

const packagesData = (
  await Promise.all(packages.map((package_) => getPackageData(package_)))
).filter((package_) => package_ !== null);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {
        packages.length == 0
          ? "Snake Stats"
          : `${packages.join(", ")} | Snake Stats`
      }
    </title>

    <ClientRouter />
  </head>
  <body>
    <App client:load packages={packages} />
  </body>
</html>
