---
import { ClientRouter } from "astro:transitions";
import { App } from "../components/App";
import "../styles/global.css";

export const prerender = false;

const { slug } = Astro.params;
const packages = slug ? slug.split("+") : [];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {
        packages.length == 0
          ? "Snake Stats"
          : `${packages.join(", ")} | Snake Stats`
      }
    </title>

    <ClientRouter />
  </head>
  <body>
    <App client:load packages={packages} />
  </body>
</html>
