---
import { ClientRouter } from "astro:transitions";
import { Chart } from "../components/Chart";
import { Input } from "../components/Input";
import { getChartData } from "../lib/chart-data";
import "../styles/global.css";

export const prerender = false;

const { slug } = Astro.params;
const packages = slug ? slug.split("+") : [];
const chartData = await getChartData(packages);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {
        packages.length == 0
          ? "PyPI Trends"
          : `${packages.join(", ")} | PyPI Trends`
      }
    </title>

    <ClientRouter />
  </head>
  <body>
    <div class="mx-auto max-w-5xl p-4">
      <h1 class="text-2xl font-thin">PyPI Trends</h1>
      <Input client:load packages={packages} />
      <Chart client:load data={chartData} packages={packages} />
    </div>
  </body>
</html>
